<div class="app">
  <div class="layout">
    <div class="header">
      <div class="row">
        <div class="col-12 d-flex nav-head">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <a class="cmpnyLogo" href="/login">
              <img src="../../../assets/images/logo.png" alt="companyLogo">
            </a>
          </div>
          <div class="col-8"></div>
          <ul class="d-flex justify-content-evenly col-2 p-0 m-0">
            <li>
              <a class="side-panel-toggle px-2" matTooltip="Settings">
                <img class="setting" src="../../../assets/images/settings.svg" alt="Settings">
                <span class="d-none">Settings</span>
              </a>
            </li>
            <li>
              <a class="side-panel-toggle" matTooltip="PMS Rating">
                <span class="icon-holder">
                  <i class="fa fa-bar-chart"></i>
                </span>
                <span class="d-none">PMS Rating</span>
              </a>
            </li>
            <li class="user-profile dropdown">
              <a class="dropdown-toggle side-panel-toggle d-flex" data-toggle="dropdown">
                <img class="profile-img" src="assets/images/user.png">
                <div class="d-flex align-items-center p-2">
                  <span class="name"></span>
                </div>
              </a>
            </li>
            <li>
              <a class="side-panel-toggle logout" (click)="logout()" matTooltip="Logout">
                <img src="../../assets/images/logout.svg" /><span class="d-none">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Header END -->
    <!-- Page Container START -->
    <div class="page-container">
      <div class="container-fluid">
        <div class="row vh-100">
          <form class="d-flex justify-content-center align-items-center">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body p-3">
                  <h4 class="form_title mb-0">Otp</h4>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 form-label d-flex justify-content-center mt-1" for="hf-email">Enter Your
                    Otp:</label>
                  <div class="col-md-4 d-flex justify-content-center flex-column">
                    <input type="text" id="otp" name="giveotp" class="form-control" placeholder="Enter Your otp" ngModel
                      autocomplet="off" required>
                    <span class="error">Please Enter your Otp</span>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row-12 d-flex justify-content-center py-3">
                  <div class="col-md-4"></div>
                  <div class="col-md-4 d-flex justify-content-around">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle"></i>
                      Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ng-template #showuserprofile>
  <div class="page-container">
    <div class="main-content" style="padding:55px 0px 0px 0px !important;">
      <div class="container-fluid">
        <div class="home_launcher">
          <div class="nhans_apps_container row" style="position:relative;">
          </div>
          <div class="page-title mt-2">
            <div class="row">
              <form #showprofile="ngForm" (ngSubmit)="showprofile.form.valid &&  profilesubmit(showprofile)">
                <div class="col-lg-8 offset-lg-2">
                  <div class="card " style="width: 437%; margin-top: 14%; padding-top: 12%;">
                    <div class="card-header" style=" background-color: #f0f3f5;    margin-top: -22px;">
                      <h4 class="form_title">Password Confirmation</h4>
                    </div>
                    <div class="card-body p-3">
                      <div class="row form-group">
                        <label class="control-label col-4 p-0">User Name :</label>
                        <div class="col-5">
                          <label class="control-label col-4 p-0"
                            style="max-width : 100%; text-align: left;">{{username}}</label>
                        </div>
                      </div>
                      <div class="row form-group">
                        <label class="control-label col-4 p-0">Email :</label>
                        <div class="col-5">
                          <label class="control-label col-4 p-0"
                            style="max-width : 100%; text-align: right;">{{email}}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-4 p-0">New Password
                          :</label>
                        <div class="col-5">
                          <input type="text" class="form-control" id="newpassword" name="newpassword"
                            placeholder="Enter new Password" [(ngModel)]="newobj.newpassword" autocomplete="off"
                            #newpassword="ngModel"
                            [ngClass]="{ 'is-invalid':showprofile.submitted && newpassword.invalid}" required>
                          <span *ngIf="!newpassword.valid && newpassword.touched"
                            style="color: red;font-size: inherit">Please Enter
                            NewPassword
                          </span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="control-label col-4 p-0">Confirm Password
                          :</label>
                        <div class="col-5">
                          <input type="text" class="form-control" id="confirmpwd" name="confirmpwd"
                            placeholder="Enter the confirm password" [(ngModel)]="newobj.confirmpwd" autocomplet="off"
                            #confirmpwd="ngModel"
                            [ngClass]="{ 'is-invalid':showprofile.submitted && confirmpwd.invalid}" required>
                          <span *ngIf="!confirmpwd.valid && confirmpwd.touched"
                            style="color: red;font-size: inherit">Please Enter Confirm Password
                          </span>
                        </div>
                      </div>
                      <div class="stepper_foot text-right">
                        <div class="nhans-btn-group">
                          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                            Submit</button>
                          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->