<div class="dashboard">
  <div class="header">
    <div class="row w-100">
      <div class="col-12 d-flex nav-head">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <a class="cmpnyLogo" href="/login">
            <img src="../../../assets/images/logo.png" alt="companyLogo">
          </a>
        </div>
        <div class="col-md-7"></div>
        <ul class="d-flex justify-content-evenly col-md-3 p-0 m-0">
          <li>
            <a class="side-panel-toggle px-2" matTooltip="Task Dashboard">
              <mat-icon class="dashboard-icon">dashboard</mat-icon>
            </a>
          </li>
          <li>
            <a class="side-panel-toggle" matTooltip="Side Menu">
              <span class="icon-holder">
                <mat-icon class="menu">menu</mat-icon>
              </span>
            </a>
          </li>
          <li class="user-profile dropdown">
            <a class="dropdown-toggle d-flex" data-toggle="dropdown">
              <img class="profile-img" src="assets/images/user.png" alt="">
              <div class="d-flex align-items-center p-2">
                <span class="name">MOHAN V</span>
              </div>
            </a>
          </li>
          <li>
            <a class="side-panel-toggle logout" href="/login" (click)="logout()" matTooltip="Logout">
              <img src="../../assets/images/logout.svg" /><span class="d-none">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dashboardContent">
    <div class="row pb-5">
      <div class="col-12 d-flex reviewContent">
        <div class="col-1 d-flex align-items-center justify-content-center">
          <h3 class="m-0 p-2 dashboardName">Dashboard</h3>
        </div>
        <div class="col-10"></div>
        <div class="col-1 d-flex align-items-center justify-content-center">
          <a class="m-0 p-2 dashboard-icon">Dashboard</a>
        </div>
      </div>
    </div>
    <div class="row salesName">
      <div class="col-12 d-flex">
        <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center px-3">
          <p class="m-0 py-2 salesList">Sales-Analysis</p>
        </div>
        <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center px-3">
          <p class="m-0 py-2 salesList">Sales Performance</p>
        </div>
        <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center px-3">
          <p class="m-0 py-2 salesList">Sales productivity</p>
        </div>
        <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center px-3">
          <p class="m-0 py-2 salesList">Sales Master</p>
        </div>
      </div>
    </div>
  </div>
</div>