<div class="dashboard">
  <div class="dashboardContent">
    <div class="row pb-5">
      <div class="col-12 d-flex reviewContent">
        <div class="col-1 d-flex align-items-center justify-content-center">
          <h3 class="m-0 p-2 dashboardName">Dashboard</h3>
        </div>
        <div class="col-10"></div>
        <div class="col-1 d-flex align-items-center justify-content-center">
          <a class="m-0 p-2 dashboard-icon">Dashboard</a>
        </div>
      </div>
    </div>
    <div class="row salesName">
      <div class="col-12 d-flex">
        <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center px-3">
          <div class="salesList w-100">
            <p class="m-0 py-2 d-flex justify-content-center">IT - Works</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>