<div class="dashboard">
  <div class="dashboardContent vh-100">
    <div class="row pb-5">
      <div class="col-12 d-flex justify-content-between reviewContent border-bottom">
        <div class="col-lg-2 d-flex align-items-center justify-content-center justify-content-lg-start">
          <h3 class="m-0 p-2 dashboardName">Dashboard</h3>
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-2 d-flex align-items-center justify-content-center justify-content-lg-end">
          <a class="m-0 p-2 dashboard-icon">Dashboard</a>
        </div>
      </div>
    </div>
    <div class="row border-top">
      <div class="col-md-6 col-lg-3 d-flex px-3">
        <div class="col-12 d-flex flex-column">
          <div class="col-12 w-100 border-bottom">
            <p class="m-0 py-2 d-flex justify-content-center">IT - Works</p>
          </div>
          <div class="col-6 d-flex flex-wrap px-3 w-100 border-end my-4">
            <div class="d-flex flex-column w-50 justify-content-center align-items-center">
              <button class="productIcon btn btn-primary">button</button><span class="productName p-2 d-flex text-center justify-content-center align-items-center">Product Penetration Report</span>
            </div> 
            <div class="d-flex flex-column w-50 justify-content-center align-items-center">
              <button class="productIcon btn btn-primary">button</button><span class="productName p-2 d-flex text-center justify-content-center align-items-center">Sales Categorywise Performance</span>
            </div>
            <!-- <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex px-3">
        <div class="col-12 d-flex flex-column">
          <div class="col-12 w-100 border-bottom">
            <p class="m-0 py-2 d-flex justify-content-center">Sales</p>
          </div>
          <!-- <div class="col-6 d-flex flex-wrap p-4 w-100 border-end my-4">
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex px-3">
        <div class="col-12 d-flex flex-column">
          <div class="col-12 w-100 border-bottom">
            <p class="m-0 py-2 d-flex justify-content-center">Sales Workers</p>
          </div>
          <!-- <div class="col-6 d-flex flex-wrap p-4 w-100 border-end my-4">
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex px-3">
        <div class="col-12 d-flex flex-column">
          <div class="col-12 w-100 border-bottom">
            <p class="m-0 py-2 d-flex justify-content-center">Distributors</p>
          </div>
          <!-- <div class="col-6 d-flex flex-wrap p-4 w-100 border-end my-4">
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
            <div class="d-flex flex-column">
              <button class="btn btn-primary">button</button><span class="p-2">Sales Performer</span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>