.row{
	--bs-gutter-x: 0rem; 
}

.dashboardContent{
    background: #f5f7fa !important;
	height: 100vh;
}

.dashboardName{
	font-weight: 500;
	font-size: 18px;
}

.reviewContent{
	border-bottom: 1px solid #e6ecf5;
}

.salesName{
	border-top: 1px solid #e6ecf5;
}

.salesList{
	border-bottom: 1px solid #e6ecf5;
}