.row{
	--bs-gutter-x: 0rem; 
}

li{
	list-style-type: none;
	display: flex;
	align-items: center;
}

.header{
	position: fixed;
	width: 100%;
}

.profile-img{
	width: 38px;
}

.nav-head{
	min-height: 64px;
	background: #fff;
	border-bottom: 1px solid #dadce0;
}

/* .cmpnyLogo>img{
	width: 130px;
} */

.name, .menu{
	color: #000;
}

.dashboard, .logout, .menu{
	cursor: pointer;
}

.name{
	font-size: 13px;
}

.dropdown-toggle::after{
	display: none;
}

.dropdown-toggle{
	text-decoration: none;
}