<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav">
  <div class="companyLogo d-flex justify-content-center align-items-center">
    <a class="cmpnyLogo" href="/login">
      <img src="../../../assets/images/logo.png" alt="companyLogo">
    </a>
  </div>
  <ul class="tabList p-0 mb-0">
    <li id="sales" class="waves-effect" (click)="toggleChildLists('sales')">
      <a class="d-flex align-items-center py-3">
        <i class="fa-sharp fa-solid fa-bars-staggered px-3"></i> Sales Analyst
        <i class="fas fa-angle-down rotate-icon" [ngClass]="{'rotate-icon-open': activeParent === 'sales'}"></i>
      </a>
      <ul class="p-0 collapsible-body" [ngClass]="{'hidden': activeParent !== 'sales'}">
        <li class="d-flex justify-content-evenly py-3 px-2">
          <i class="fa-sharp fa-solid fa-bars-staggered"></i>SubListing 1
        </li>
        <li class="d-flex justify-content-evenly py-3 px-2">
          <i class="fa-sharp fa-solid fa-bars-staggered"></i>SubListing 2
        </li>
        <li class="d-flex justify-content-evenly py-3 px-2">
          <i class="fa-sharp fa-solid fa-bars-staggered"></i>SubListing 3
        </li>
      </ul>
    </li>
  </ul>
  <ul class="tabList p-0 mb-0">
    <li id="execute" class="waves-effect" (click)="toggleChildLists('execute')">
      <a class="d-flex align-items-center py-3">
        <i class="fa-sharp fa-solid fa-bars-staggered px-3"></i> Sales Distributors
        <i class="fas fa-angle-down rotate-icon" [ngClass]="{'rotate-icon-open': activeParent === 'execute'}"></i>
      </a>
      <ul class="p-0 collapsible-body" [ngClass]="{'hidden': activeParent !== 'execute'}">
        <li class="d-flex justify-content-evenly py-3 px-2">
          <i class="fa-sharp fa-solid fa-bars-staggered"></i>SubListing 1
        </li>
        <li class="d-flex justify-content-evenly py-3 px-2">
          <i class="fa-sharp fa-solid fa-bars-staggered"></i>SubListing 2
        </li>
        <li class="d-flex justify-content-evenly py-3 px-2">
          <i class="fa-sharp fa-solid fa-bars-staggered"></i>SubListing 3
        </li>
      </ul>
    </li>
  </ul>
</div>