.side-nav {
  background-color: #fff;
  height: 100vh;
  width: 260px;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2),
    0 16px 24px 2px rgba(0, 0, 0, .14),
    0 6px 30px 5px rgba(0, 0, 0, .12);
  position: fixed;
  /* top: 64px; */
}

.companyLogo{
  border-bottom: 1px solid lightgrey;
  height: 70px;
}

.waves-effect {
  text-decoration: none !important;
  color: #000;
}

.fa-bars-staggered {
  font-size: 20px;
  color: green;
}

.waves-effect:hover {
  background: rgba(0, 0, 0, .04);
}

.tabList,
.close-icon {
  cursor: pointer;
}

.tabList>a>.fa-angle-down ::before {
  transform: rotate(0deg);
}

.collapsible-body {
  display: none;
  transform: rotate(90deg);
}

.collapsible-body a {
  display: block !important;
  transition: background-color 0.3s;
}

.tabList.active {
  display: block !important;
  transform: rotate(180deg);
}